<%- include("header.ejs") %>
<div class="hero-content">
  <button class="newEntry">We're all on A Journey</button>
  <h1>
    The Most Recent Reflections on my Life and Experiences in the Past year
  </h1>
  <div class="p-text">
    <p>
      You Can check out some mosts below They tell of different aspects and
      situations that I've encountered in the Past year and share what I was
      able to learn from them.<br />
      Have a Good Read!
    </p>
  </div>

  <hr />
</div>
<div class="post-container">
  <% posts.forEach(post => { %>
  <div class="post-holder">
    <div class="post">
      <div class="other">
        <%= post.date %> <% post.tag.forEach(element => { %>
        <button class="btn"><%= element %></button>
        <% }) %>
        <div>
          <img src="/img/pen.png" alt="pen icon for editing" />
          <img src="/img/empty.png" alt="trash icon for deleting" />
        </div>
      </div>
      <form action="/readingView" method="GET">
        <input type="hidden" name="post-id" value="<%= post.id %>" />
        <button class="title" type="submit"><%= post.title %></button>
      </form>

      <div class="underline"></div>
      <p><%= post.content %></p>
    </div>
  </div>
  <% }) %>
</div>
<%# I should write an if statement to include the new entry.ejs file %> <%-
include("footer.ejs") %>
